= form_for @review do |f|
  = f.hidden_field :product_id
  .clearfix= f.text_area :msg, cols: 60, rows: 4, placeholder: t(:type_in_textarea)
  = f.submit t(:new, model: t(:review)), {class: 'btn btn-primary'}
